.header {
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  background: $blueColor;
  color: $whiteColor;



  a{
    color: $whiteColor
  }

  &__hiddenTitle{
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  &__title{
    display: flex;
    align-items: baseline;
    &::before{
      display: block;
      content: ' ';
      background-image: url(../images/logo.png) ;
      height: rem(44.5);
      width: rem(32);
    }

  }
  

  &__link{
    color: $whiteColor;
    font-family: 'Montserrat', sans-serif;
    font-size: rem(30);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: rem(0.6);
  }
  
  &__container {
    min-height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__widgets{
    display: flex;
    
  }
  &__widget{
    min-height: rem(62);
    min-width: rem(106);
    background-color: $whiteColor;
    border-radius: rem(10);
    margin-left: rem(12);
  }
}

