.header {
  // transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 50;
  
  a{
    color: $whiteColor
  }

  &__hiddenTitle{
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &__title{
    align-items: baseline;
    display: flex;
    &::before{
      background-image: url(../images/logo.png);
      height: rem(44.5);
      width: rem(32);
      display: block;
      content: ' ';
    }

  }
  &__top{
    background: $blueColor;
    color: $whiteColor;
  }
  &__topWrapper{
    display: flex;
    justify-content: space-between;
    min-height: rem($headerHeight);
    align-items: center;
  }
  &__link{
    font-family: 'Montserrat', sans-serif;
    color: $whiteColor;
    font-size: rem(30);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: rem(0.6);
  }
  &__widgets{
    display: flex;    
  }
  &__widget{
    min-height: rem(62);
    min-width: rem(106);
    background-color: $whiteColor;
    border-radius: rem(10);
    margin-left: rem(12);
  }


  //menu 
  &__menu{
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
    background-color: $lightColor;
  }
  &__menu-item {
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase;
    align-items: center;
    font-size: rem(18);
    margin-right: rem(72);
    position: relative;
    font-weight: 700;
    cursor: pointer;
    display: flex; 
  }
  &__menu-itemName{
    align-items: baseline;
    display: flex;
    &::after{
      background: url(../images/bxs_up-arrow.png) no-repeat;
      margin-left: rem(10);
      height: rem(16);
      display: block;
      width: rem(16);
      content: ' ';     
    }
  }
  &__menu-item:hover &__submenu{
    display: block;
  }
  &__nav{
    display: flex;
    height: 100%;
  }
  &__navWrapper{
    justify-content: space-between;
    align-items: stretch;
    height: rem(80);
    display: flex;
  }
  &__profileWrapper{
    display: flex;
  }
  &__submenu {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: rem(32) rem(74) rem(32) rem(32);  
    background-color: $cristalWhite;      
    font-family: $mainFont;
    position: absolute;
    font-weight: 500;  
    display: none;
    z-index: 1;  
    top: 100%;
    left: 0; 
  }
  &__submenu a {
    transition: background-color 0.2s;
    margin-bottom: rem(24);
    text-decoration: none;
    white-space: nowrap;
    display: block;
    color: #333;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover {
      background-color: $whiteColor;
    }
  }
  &__profileWrapper{
    display: flex;
    align-items: center;
  }
  &__search{
    position: relative;
    overflow: hidden;
    width: rem(223);
    display: flex;
  }
  &__search-input {
    width: rem(223);
    font-weight: 600;
    padding: 10px;
    border: none;
    outline: none;
  }
  &__search-button {
    transform: translateY(-50%);
    position: relative;
    height: rem(24);
    cursor: pointer;
    width: rem(24);
    right: rem(36);
    border: none;
    padding: 0;
    top: 50%;
  }
  &__search,
  &__profile{
    background-color: $whiteColor;
    border-radius: rem(10);
    margin-left: rem(33);
    height: rem(48);
    
  }
  &__profile{
    width: rem(69);
  }
  &__profileLink{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
  }
}

