// Заголовки, общие БЄМ блоки и проче...
.button{
    width: rem(550);
    height: rem(60);
    background-color: $blueColor;
    color: $whiteColor;
    border-radius: 10px;
    font-size: rem(24);
}

.registration{
    padding: rem(68) 0 rem(100);
   
    &__modal{
        background-color: $whiteColor;
        min-height: rem(840);
        padding: rem(80) 0;
    }
    &__form{
        padding: 0 rem(52);
    }
    &__description{
        padding-bottom: rem(24);
    }
    & input{
        margin-bottom: rem(16);
    }
}
