// Заголовки, общие БЄМ блоки и проче...

.registration{
    padding: rem(68) 0 rem(100);
   
    &__modal{
        background-color: $whiteColor;
        min-height: rem(840);
        padding: rem(80) 0;
    }
    &__form{
        padding: 0 rem(52);
    }
    &__description{
        padding-bottom: rem(24);
    }
    & input{
        margin-bottom: rem(16);
    }
}